---
title: Nuestros volumenes
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<div id="farolito-1-qué-onda-con-el-coronavirus" class="section level1">
<h1>Farolito #1: ¿Qué onda con el Coronavirus?</h1>
<p><img src="/images/vol1_portada.png" style="width:40.0%" /></p>
<center>
<a href="/pdfs/farolito_vol1.pdf">Leer en PDF</a> | <a href="https://www.yumpu.com/es/document/view/63403344/farolito-zine-vol-1-que-onda-con-el-coronavirus">Leer en linea</a> | <a href="farolito_vol1_english.pdf">PDF in English</a>
</center>
<p>Cuando la pandemia del Coronavirus apenas comenzaba, circulaba un mar de información poco confiable acerca de este tema, y la desinformación causo un gran estrés en todo el mundo. Como testigos y victimas de esta situación, decidimos comenzar el proyecto de Farolito Zine realizando un volumen que sintetizara de manera sencilla y amigable el conocimiento científico que teníamos acerca del Coronavirus y las pandemias. Este volumen alcanzo bastante difusión en México y Estados Unidos, y su contenido fue muy bien recibido entre el la población y la comunidad científica</p>
</div>
<div id="farolito-2-la-biología-del-alcohol" class="section level1">
<h1>Farolito #2: La biología del alcohol</h1>
<p><img src="/images/vol2_portada.png" style="width:40.0%" /></p>
<center>
<a href="/pdfs/farolito_vol2.pdf">Leer en PDF</a> | <a href="https://issuu.com/farolitozine/docs/farolitozine_vol2_-_biologi_a_del_alcohol">Leer en linea</a>
</center>
<p>Cuando todos tratábamos de acostumbrarnos a la situación de la pandemia, sentíamos que era tiempo de tocar un tema mas relajante. Que mejor que el tema de las bebidas alcohólicas. Aunque muchos disfrutamos enormemente con ellas, olvidamos que existen gracias a gran cantidad de seres vivos, incluidos microorganismos, plantas y animales, y que son un legado de la diversidad cultural y el desarrollo tecnologico a lo largo de milenios. De todo esto hablamos en este volumen, pero tambien sobre cómo el alcohol afecta practicamente todo nuestro cuerpo. Esperemos lo disfruten.</p>
</div>
